html {
    scroll-behavior: smooth;
  }

  section {
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .scroll-btn {
    margin-top: 30px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
   
  nav{
    font-size: 1.5rem;
  }
   
  nav.scrolled {
    background-color: #333 !important;
  }

 /* Home */ 
  #home {
    height: 100vh;
    background: url("https://www.wallpaperflare.com/static/20/448/1022/soccer-corinthians-corinthian-paulista-wallpaper.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #home h1 {
    font-size: 4rem;
  }

  #home p {
    font-size: 1.5rem;
  }

  #home a {
    font-size: 1.5rem;
    font-weight: bold;
  }

/* Sobre */
  #sobre{
    height: 100vh;
    background-color: rgb(48, 47, 47);
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

   #sobre img {
    filter: grayscale(100%);
  }

  #sobre span{
    font-size: 1.5rem;
  }

  #sobre p {
    font-size: 1.5rem;
  
  }

  #sobre a {
    font-size: 1.5rem;

  }

/* Contato */

  #contato a {
    font-size: 1.5rem;
    font-weight: bold;
  }

  #contato h1 {
    font-size: 4rem;
  }

  #contato p{
    font-size: 1.5rem;
  }

  #contato form{
    text-align: center;
  }

  #contato #checkbox{
    display: flex;
    justify-content: center;
  }

/* Estádio  */
  #estadio{
    height: 100vh;
    background-image: url("https://cdn.meutimao.com.br/_upload/wallpapers/arena_corinthians_em_hd_p4_1920x1080.jpg");
    color: rgb(0, 0, 0);
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
  }

  #estadio p{
    font-size: 1.5rem;
  }
  
  #estadio h1{
    font-size: 4rem;
    color: white
  }
  
  #estadio a {
    font-size: 1.5rem;
    font-weight: bold;
  }


/* Integrantes */

  #integrantes a{
    display: grid;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #integrantes #title{
    font-size: 4rem;
  }

  #integrantes #projeto{
    font-size: 1.5rem;
  } 

  #integrantes .card{
    display: inline-block;
    flex-direction: column;
    width: 18rem;
  }

  #integrantes .card img{
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
  }

  #integrantes ul{
    display: inline-block;
    flex-direction: row;
  }
